<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <script src="https://cdn.staticfile.org/jquery/3.5.1/jquery.min.js" />
  <title>{{ page.title | escape }}</title>

  <script type="text/javascript">
    var referrer = document.referrer;
    if (!referrer) {
        try {
            if (window.opener)
                referrer = window.opener.location.href;
        } 
        catch (e) {}
    }
    if (!referrer || !referrer.toLowerCase().includes("bvecontentservice")) {
        var language = navigator.languages
            ? navigator.languages[0]
            : (navigator.language || navigator.userLanguage)
        if (language.toLowerCase().includes("zh") && !location.href.toLowerCase().includes("/zh/")){
            if (!location.origin) {
                location.origin = location.protocol + "//" + location.hostname 
                    + (location.port ? ':' + location.port: '');
            }
            location.href = location.origin + "/zh" + location.pathname;
        }
    }
    </script>
    <script type="text/javascript">
      function getParameterByName(name, url) {
          if (!url) url = window.location.href;
          name = name.replace(/[\[\]]/g, '\\$&');
          var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
              results = regex.exec(url);
          if (!results) return null;
          if (!results[2]) return '';
          return decodeURIComponent(results[2].replace(/\+/g, ' '));
      }
      $(function() {
        if (location.href.split("/").slice(-1)[0].split("?")[0] == "install.html"){
          var iframe = document.createElement('iframe');
          iframe.src = "bvecontentservice://androidcall/install.html?id=" + getParameterByName("id");
          iframe.style = "display:none";
          document.body.appendChild(iframe);
        }
      });
    </script>
    {% seo %}
</head>