<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  <script type="text/javascript">
    var referrer = document.referrer;
    if (!referrer) {
        try {
            if (window.opener)
                referrer = window.opener.location.href;
        } 
        catch (e) {}
    }
    if (!referrer) {
        var language = navigator.languages
            ? navigator.languages[0]
            : (navigator.language || navigator.userLanguage)
        if (language.toLowerCase().includes("zh") && !location.href.toLowerCase().includes("/zh/")){
            if (!location.origin) {
                location.origin = location.protocol + "//" + location.hostname 
                    + (location.port ? ':' + location.port: '');
            }
            location.href = location.origin + "/zh" + location.pathname;
        }
    }
    </script>
  
</head>